In [1]:
import pandas as pd

fp = "https://bit.ly/felonies-dataset"

In [2]:
df = pd.read_csv(fp)

df.shape

(1000, 3)

In [3]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [4]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [5]:
df.tail()

          Date of Arrest  Age Convicted
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

In [7]:
df['Age'].describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

## Comment transformer une valeur Numérique en Cathégorie ?

In [11]:
pd.cut(df['Age'], bins = [10, 14, 20, 65, 100],
          labels = ({"child", "Ado", "Adult", "Senior"}))

0        Ado
1      child
2      child
3      child
4      child
       ...
995      Ado
996      Ado
997      Ado
998    child
999    child
Name: Age, Length: 1000, dtype: category
Categories (4, object): ['Senior' < 'Adult' < 'child' < 'Ado']

In [13]:
exo1 = pd.Series(data=[0, 1, 2 ,3])

In [18]:
FROM_ZERO = -0.001
pd.cut(exo1,
      bins=[FROM_ZERO, 2, 3],
      labels=["A", "B"])

0    A
1    A
2    A
3    B
dtype: category
Categories (2, object): ['A' < 'B']

### Exo, créer la bins pour le cut

In [29]:
prefix = ["ten", "twen", "thir",
         "four", "fif", "six",
         "seven", "eigh", "nine"]

labels = [p + 'ties' for p in prefix]

labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [32]:
df['decade'] = pd.cut(df['Age'],
      bins = [9, 19, 29, 39, 49, 59, 69, 79, 89, 99+1],
      labels = labels)

In [33]:
df.head(10)

        Date of Arrest  Age Convicted     decade
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties
5  1987-10-04 08:55:26   59       Yes    fifties
6  1989-11-28 02:26:59   47       Yes   fourties
7  2004-03-22 12:31:09   51       Yes    fifties
8  1995-11-01 04:31:18   94       Yes   nineties
9  2012-02-01 02:48:36   74       Yes  seventies