# Exercice DataSet & Algo modèle linéaire

## Algo avec 1 X et 1 Y

<strong> Problématique : -> Plus un pokémon a de points de vie , plus son nombre de points d'attaques augmente ?

<strong> <p style="font-size: 150%"> DataCleaning & Importation CSV

In [1]:
import numpy as np
import math 
import matplotlib.pyplot as plt
import pandas as pd
import sklearn as sk

In [9]:
dataCSV = "pokemon.csv"

data = pd.read_csv(dataCSV, usecols = ['id', 'Name', 'HP', 'Attack'])

In [11]:
data.isnull().all()

id        False
Name      False
HP        False
Attack    False
dtype: bool

In [12]:
data.dtypes

id         int64
Name      object
HP         int64
Attack     int64
dtype: object

In [14]:
data.head(10)

   id        Name  HP  Attack
0   1   Bulbasaur  45      49
1   2     Ivysaur  60      62
2   3    Venusaur  80      82
3   4  Charmander  39      52
4   5  Charmeleon  58      64
5   6   Charizard  78      84
6   7    Squirtle  44      48
7   8   Wartortle  59      63
8   9   Blastoise  79      83
9  10    Caterpie  45      30

In [15]:
data.shape

(1061, 4)

<strong> <p style="font-size: 150%"> CREATE X & Y

In [17]:
#X := HP Pokemon
#Y := Attack Pokemon

#Create Var X & Y

X = data[['HP']]
Y = data[['Attack']]

      Attack
0         49
1         62
2         82
3         52
4         64
...      ...
1056     100
1057     100
1058     100
1059     110
1060      95

[1061 rows x 1 columns]

<strong> <p style="font-size: 150%"> CREATE SPLIT WITH SKLEARN

In [23]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [25]:
X_train.head(5)

      HP
984   54
1003  60
616   80
117   45
349   95

In [26]:
Y_train.head(5)

      Attack
984       45
1003     150
616       70
117       67
349       60

<strong> <p style="font-size: 150%"> CREATE LinearRegression

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model


clf = linear_model.LinearRegression(copy_X = True, fit_intercept = True, n_jobs = None, normalize = False)

In [32]:
clf.fit(X_train, Y_train)

LinearRegression()

<strong> <p style="font-size: 150%"> Print Coef

In [34]:
print('Coef : ', clf.coef_)
print('Intercept : ', clf.intercept_)

Coef :  [[0.51952042]]
Intercept :  [43.07974989]