## Test

In [37]:
import pandas as pd

fp = "https://bit.ly/bitcoin-purchases2"

In [38]:
data = pd.read_csv(fp)

In [5]:
data

                        bitcoin address wire amount          credit card
0    1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92     3543456448666398
1    1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311,06     3584615208479876
2    1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032,44     6370577480710876
3    15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74     4508652385157398
4    18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44      374622922103592
..                                  ...         ...                  ...
995  1Jmz4FMQENDkrtkivVdXM8SiC6ZCJVTDhp     ¥844.68     5541649583285688
996  1GCZKgPV9277czn1RsTYoubCwhbndUvPZU    €1433,63  6304232254235660027
997   1LK2DsWBUmSAsqg7n46sdgg4v2SNrqEPM    €3814,11     3546750658508135
998  1PD6oNfFEnxMsR1PvUvkjHQdHYLCewLJhq    $2900.85  6333272716093574938
999  1B2vk6p7usuV4dfrBMLo8Rzpb5NatTmE8R    $1587.16     4913614335644981

[1000 rows x 3 columns]

In [6]:
data.dtypes

bitcoin address    object
wire amount        object
credit card         int64
dtype: object

In [39]:
data['wire amount'] = data['wire amount'].str.replace(',', '.')

In [25]:
data

                        bitcoin address wire amount          credit card
0    1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92     3543456448666398
1    1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311.06     3584615208479876
2    1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032.44     6370577480710876
3    15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74     4508652385157398
4    18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44      374622922103592
..                                  ...         ...                  ...
995  1Jmz4FMQENDkrtkivVdXM8SiC6ZCJVTDhp     ¥844.68     5541649583285688
996  1GCZKgPV9277czn1RsTYoubCwhbndUvPZU    €1433.63  6304232254235660027
997   1LK2DsWBUmSAsqg7n46sdgg4v2SNrqEPM    €3814.11     3546750658508135
998  1PD6oNfFEnxMsR1PvUvkjHQdHYLCewLJhq    $2900.85  6333272716093574938
999  1B2vk6p7usuV4dfrBMLo8Rzpb5NatTmE8R    $1587.16     4913614335644981

[1000 rows x 3 columns]

### Séparer la devise

In [40]:
data['devise'] = data['wire amount'].str.get(0)

data['wire amount'] = data['wire amount'].str.slice(1, None)

In [41]:
data

,bitcoin address,wire amount,credit card,devise
0,1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe,8356.92,3543456448666398,£
1,1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q,311.06,3584615208479876,€
2,1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP,2032.44,6370577480710876,€
3,15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6,8155.74,4508652385157398,¥
4,18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ,3265.44,374622922103592,£
...,...,...,...,...
995,1Jmz4FMQENDkrtkivVdXM8SiC6ZCJVTDhp,844.68,5541649583285688,¥
996,1GCZKgPV9277czn1RsTYoubCwhbndUvPZU,1433.63,6304232254235660027,€
997,1LK2DsWBUmSAsqg7n46sdgg4v2SNrqEPM,3814.11,3546750658508135,€
998,1PD6oNfFEnxMsR1PvUvkjHQdHYLCewLJhq,2900.85,6333272716093574938,$
999,1B2vk6p7usuV4dfrBMLo8Rzpb5NatTmE8R,1587.16,4913614335644981,$

### Conversation Object -> Float

In [34]:
data.dtypes

bitcoin address     object
wire amount        float64
credit card          int64
devise              object
dtype: object

In [42]:
data['wire amount'] = data['wire amount'].astype('float')

In [43]:
data

,bitcoin address,wire amount,credit card,devise
0,1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe,8356.92,3543456448666398,£
1,1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q,311.06,3584615208479876,€
2,1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP,2032.44,6370577480710876,€
3,15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6,8155.74,4508652385157398,¥
4,18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ,3265.44,374622922103592,£
...,...,...,...,...
995,1Jmz4FMQENDkrtkivVdXM8SiC6ZCJVTDhp,844.68,5541649583285688,¥
996,1GCZKgPV9277czn1RsTYoubCwhbndUvPZU,1433.63,6304232254235660027,€
997,1LK2DsWBUmSAsqg7n46sdgg4v2SNrqEPM,3814.11,3546750658508135,€
998,1PD6oNfFEnxMsR1PvUvkjHQdHYLCewLJhq,2900.85,6333272716093574938,$
999,1B2vk6p7usuV4dfrBMLo8Rzpb5NatTmE8R,1587.16,4913614335644981,$

In [44]:
data.dtypes

bitcoin address     object
wire amount        float64
credit card          int64
devise              object
dtype: object

___

___

## Exercice

In [144]:
import random
import pandas as pd

def makeNumberStrRandSign(sep=[','], signs=['€', '$']):
    avant = str(random.randint(1, 1000))
    apres = '{:02}'.format(random.randint(0,99))
    sep = random.choice(sep)
    sign = random.choice(signs)
    return avant + sep + apres + sign

col1 = [makeNumberStrRandSign() for _ in range(200)]
col2 = [makeNumberStrRandSign(['.', ',']) for _ in range(200)]

exo2 = pd.DataFrame(data={"col1":col1,
                         "col2":col2})

### 1/ Retravailler la collone pour que toutes les entrées soient castables en INT ou FLOAT <br> 2/ Effectuer la conersation de votre choix avec astype(int) ou astype(float)

In [145]:
exo2['col1'] = exo2['col1'].str.replace(',', '.')
exo2['col2'] = exo2['col2'].str.replace(',', '.')

exo2['Devise col1'] = exo2['col1'].str.get(-1)
exo2['col1'] = exo2['col1'].str.slice(None, -1).astype("float")

exo2['Devise col2'] = exo2['col2'].str.get(-1)
exo2['col2'] = exo2['col2'].str.slice(None, -1).astype("float")

In [146]:
exo2

       col1    col2 Devise col1 Devise col2
0    891.56  791.18           €           €
1    968.21  383.43           $           €
2     60.81  935.90           €           €
3    597.09  101.90           $           €
4    921.40  240.62           €           $
..      ...     ...         ...         ...
195  435.76  218.31           $           $
196  186.53   95.74           €           $
197  831.61  625.73           €           $
198  467.63  887.86           €           €
199  817.13  526.22           $           €

[200 rows x 4 columns]

In [147]:
exo2.dtypes

col1           float64
col2           float64
Devise col1     object
Devise col2     object
dtype: object