## DATA PANDAS (path)

### Importer un CSV depuis URL

In [12]:
import pandas as pd

path_csv = "https://raw.githubusercontent.com/remiconnesson/datasets/master/data/world-cities/world-cities.csv"
c = pd.read_csv(path_csv)

c.head(5)

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

### Importer un chemin CSV non fonctionnel

#### Erreur ->

In [14]:
import pandas as pd
chemin = "chemin/qui/nexistepas"
data = pd.read_csv(chemin)

FileNotFoundError: [Errno 2] No such file or directory: 'chemin/qui/nexistepas'

#### Erreur en FR ->

N'arrive pas a lire. <br>
N'arrive pas a Créer un parser / buffer car n'existe pas <br>
Aucunes collones <br>
aucuns Index <br>

#### solution ->

Le chemin n'est pas valide.

### Import CSV qui a le nom des collones bugué

#### Erreur ->

In [18]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v1"
data = pd.read_csv(chemin)

data.head(5)

       les Escaldes               Andorra Escaldes-Engordany  3040051
0  Andorra la Vella               Andorra   Andorra la Vella  3041563
1    Umm al Qaywayn  United Arab Emirates     Umm al Qaywayn   290594
2    Ras al-Khaimah  United Arab Emirates    Raʼs al Khaymah   291074
3      Khawr Fakkān  United Arab Emirates       Ash Shāriqah   291696
4             Dubai  United Arab Emirates              Dubai   292223

#### Solution ->

In [23]:
colnames=['name', 'country', 'subcountry', 'geonameid'] 
data = pd.read_csv('https://bit.ly/world-cities-dirty-v1', names=colnames, header=None)

data.head(5)

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4      Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696

Devoir r'ajouter les noms de collones au CSV.

### Import CSV , bug skiprow + names collumns

#### Erreur ->

In [31]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pd.read_csv(chemin)

data

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,consectetur,adipisci velit,sed quia non numquam eius modi tempora incidu...,quis nostrum exercitationem ullam corporis su...,nisi ut aliquid ex ea commodi consequatur? Qu...,vel illum qui dolorem eum fugiat quo voluptas...
name,country,subcountry,geonameid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
les Escaldes,Andorra,Escaldes-Engordany,3040051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra la Vella,Andorra,Andorra la Vella,3041563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
Bindura,Zimbabwe,Mashonaland Central,895061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beitbridge,Zimbabwe,Matabeleland South,895269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Epworth,Zimbabwe,Harare,1085510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chitungwiza,Zimbabwe,Harare,1106542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt in culpa qui officia deserunt mollitia animi,id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,omnis voluptas assumenda est,omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,ut aut reiciendis voluptatibus maiores alias ...,NaN,NaN,NaN,NaN

#### Solution ->

In [49]:
import pandas as pd
colnames=['name', 'country', 'subcountry', 'geonameid']
chemin = "https://bit.ly/world-cities-dirty-v2"
data = pd.read_csv(chemin, skiprows = 2, skipfooter = 1, encoding = 'utf-8')

data

<ipython-input-49-772041fe21c4>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv(chemin, skiprows = 2, skipfooter = 1, encoding = 'utf-8')

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

Skip les deux premières lignes et dernière <br>
Rajouter les noms de collones

### Import CSV, Delimiter

#### Erreur ->

In [50]:
import pandas as pd
chemin = "https://bit.ly/world-cities-dirty-v3"
data = pd.read_csv(chemin)

data

         les Escaldes|Andorra|Escaldes-Engordany|3040051
0      Andorra la Vella|Andorra|Andorra la Vella|3041563
1      Umm al Qaywayn|United Arab Emirates|Umm al Qay...
2      Ras al-Khaimah|United Arab Emirates|Raʼs al Kh...
3      Khawr Fakkān|United Arab Emirates|Ash Shāriqah...
4                Dubai|United Arab Emirates|Dubai|292223
...                                                  ...
23012                  Bulawayo|Zimbabwe|Bulawayo|894701
23013        Bindura|Zimbabwe|Mashonaland Central|895061
23014      Beitbridge|Zimbabwe|Matabeleland South|895269
23015                    Epworth|Zimbabwe|Harare|1085510
23016                Chitungwiza|Zimbabwe|Harare|1106542

[23017 rows x 1 columns]

#### Solution ->

In [55]:
import pandas as pd

colnames=['name', 'country', 'subcountry', 'geonameid']
chemin = "https://bit.ly/world-cities-dirty-v3"

data = pd.read_csv(chemin, delimiter = '|', names = colnames, encoding = 'utf-8')

data

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

Definir un délimiter pour séparer les colones

## TEST DATA

In [90]:
import pandas as pd

path = "https://bit.ly/bitcoin-data"
data = pd.read_csv(path)

data.shape

(33, 7)

In [61]:
data.dtypes

Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume        float64
Market Cap    float64
dtype: object

In [62]:
data.head(5)

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

In [63]:
data.tail(5)

,Date,Open*,High,Low,Close**,Volume,Market Cap
28,Dec 17 2019,6931.32,6964.07,6587.97,6640.52,2.236380e+10,1.202342e+11
29,Dec 16 2019,7153.66,7171.17,6903.68,6932.48,2.021327e+10,1.255156e+11
30,Dec 15 2019,7124.24,7181.08,6924.38,7152.30,1.688113e+10,1.294814e+11
31,* Earliest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN
32,** Latest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
data.isna().sum()

Date          0
Open*         2
High          2
Low           2
Close**       2
Volume        2
Market Cap    2
dtype: int64

### Permet de rename

In [69]:
data['Open*'].rename("Open**")

0     8140.93
1     8189.77
2     8033.26
3     8162.19
4     7878.31
5     8082.30
6     8161.94
7     7768.68
8     7410.45
9     7410.45
10    7345.38
11    6984.43
12    7202.55
13    7194.89
14    7294.44
15    7420.27
16    7317.65
17    7289.03
18    7238.14
19    7274.80
20    7325.76
21    7354.39
22    7508.90
23    7191.19
24    7220.59
25    7208.64
26    7277.59
27    6647.70
28    6931.32
29    7153.66
30    7124.24
31        NaN
32        NaN
Name: Open**, dtype: float64

### Inplace permet de modifier

In [81]:
data.drop('Open*',
         axis='columns',
         inplace=True)

///

In [85]:
data = data.drop('Open*',
                axis='columns',
                inplace = True)

In [87]:
data.head()

AttributeError: 'NoneType' object has no attribute 'head'

!!!!!-----------------------------------------------------------------------------------------------!!!!!<br>
!!!! Destruction de Data car drop retourne NONE, et drop + Inplace, détruit. !!!!<br>
!!!!!-----------------------------------------------------------------------------------------------!!!!!<br>

### Essaie de replace

In [88]:
def modif_adoc(s):
    s = s.replace('')
    s = s.replace(',', '_')
    return s

In [93]:
data.columns = data.columns.str.replace(' ', '_')

In [94]:
data.columns

Index(['Date', 'Open*', 'High', 'Low', 'Close**', 'Volume', 'Market_Cap'], dtype='object')

In [95]:
data.columns = data.columns.str.replace('*', '')

In [96]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market_Cap'], dtype='object')

### EXERCICE

In [98]:
toy = pd.DataFrame(data = {'a': [1, 2],
                          'b': [3, 3]})

In [100]:
toy

   a  b
0  1  3
1  2  3

In [107]:
toy = toy.replace('b', '4')

In [109]:
#Methode 1 : Rename + mapper
toy = pd.DataFrame(data = {'a': [1, 2],
                          'b': [3, 3]})

toy.rename(str.upper,
          axis = 'columns',
          inplace = True)

In [110]:
toy

   A  B
0  1  3
1  2  3

In [111]:
#Methode 2 : avec le module STR
toy = pd.DataFrame(data = {'a': [1, 2],
                          'b': [3, 3]})

toy.columns = toy.columns.str.upper()

In [113]:
toy

   A  B
0  1  3
1  2  3